* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 80%;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  flex-direction: column;
}

.row .btn {
  width: 100px;
  height: 40px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 10px;
}

.row .box {
  z-index: 100;
  background-color: white;
  width: 100%;
  padding-top: 10px;
}

.card {
  width: 16%;
  background-color: black;
  border-radius: 10px;
  color: white;
  min-height: 160px;
  display: flex;
  padding: 0 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: -50%;
  transition: 0.5s;
}
.card p {
  margin-top: 15px;
}
.close {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
}

.card.active {
  top: 10%;
}
